pkgbase = caic
	pkgdesc = GUI wizard to create a customized Live ISO image for Arch Linux and Arch-based distributions (fork of Cubic)
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/amalxloop/caic
	arch = any
	license = GPL3
	makedepends = git
	depends = gtk3
	depends = python-gobject
	depends = gtksourceview4
	depends = vte3
	depends = python-argcomplete
	depends = python-pyicu
	depends = python-magic
	depends = python-packaging
	depends = python-pexpect
	depends = python-psutil
	depends = python-pydbus
	depends = python-pyinotify
	depends = python-yaml
	depends = coreutils
	depends = findutils
	depends = libisoburn
	depends = mkinitcpio
	depends = pacman
	depends = polkit
	depends = rsync
	depends = sed
	depends = squashfs-tools
	depends = syslinux
	depends = systemd
	depends = util-linux
	optdepends = archiso: build the ISO with `build-iso.py --mkarchiso`
	optdepends = qemu-full: test the generated ISO in the built-in emulator
	optdepends = edk2-ovmf: UEFI boot testing in the emulator
	optdepends = binwalk: improved compressed-filesystem detection
	source = caic::git+https://github.com/amalxloop/caic.git#tag=v0.1.0
	sha256sums = SKIP

pkgname = caic
